body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 13660px 800px;
    margin: 0px;
    padding: 0px;
}

.left {
    /* border: 2px solid black; */
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 12px;

}

.logo {
    width: 65px;
    padding: 3px 10px;
    filter: invert(85%);
    display: block;
    margin: 0px auto;

}

.left div {
    text-align: center;
    line-height: 20px;
}

.center {

    /* border: 2px solid red; */
    display: block;
    width: 33%;
    margin: 12px auto;
}

/* .navbar{
display: inline-block;
} */

.navbar li {
    display: inline-block;

}

.navbar li a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 20px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: darkred;
}


.right {
    position: absolute;
    /* border: 2px solid green; */
    display: inline-block;
    right: 30px;
    top: 12px;

}

.btn {
    background: rgb(156, 158, 156);
    border: 2px solid rgb(63, 62, 62);
    border-radius: 6px;
    padding: 2px 20px;
    margin: 3px 3px;
    cursor: pointer;
}

.right .btn:hover {
    color: rgb(163, 91, 36);
    background: black;
}

.Fgroup {
    border: 2px solid white;
    margin: 80px 40px;
    width: 30%;
    border-radius: 10px;
    padding: 20px;

}

.Fgroup input {
    text-align: center;
    border-radius: 10px;
    margin: 4px auto;
    width: 90%;
    display: block;
    font-size: 18px;

}

.Fgroup .btn {
    width: 90%;
    display: block;
    margin: 4px auto;
    padding: 4px;
}